<?xml version="1.0" encoding="UTF-8"?>
<packet>
    <subdomain>
        <add>
            <parent>{{ domain_name }}</parent>
            <name>{{ subdomain_name }}</name>
            <property>
                <name>asp</name>
                <value>{{ enable_asp }}</value>
            </property>
            <property>
                <name>ssi</name>
                <value>{{ enable_ssi }}</value>
            </property>
            <property>
                <name>www_root</name>
                <value>/{{ subdomain_name }}.{{ domain_name }}</value>
            </property>   
            <property>
                <name>php</name>
                <value>{{ enable_php }}</value>
            </property>
            <property>
                <name>php_handler_id</name>
                <value>{{ php_handler_id }}</value>
            </property>
            <property>
                <name>fastcgi</name>
                <value>{{ enable_fastcgi }}</value>
            </property>
            <property>
                <name>ssl</name>
                <value>{{ enable_ssl }}</value>
            </property>
        </add>
    </subdomain>
</packet>